<!-- gitment -->
<% if(config.gitment.enable) { %>
    <hr>
    <div class="git_comment" id="git_comment">
        <% if(config.gitment.lazy) { %>
            <div onclick="document.getElementById('gitment-display-button').style.display = 'none';document.getElementById('gitment-container').style.display = 'block';renderGitment();" id="gitment-display-button">show git comment</div>
            <div id="gitment-container" style="display:none"></div>
        <% } else { %>
            <div id="gitment-container"></div>
        <% } %>
    </div>
    <hr>
<% } %>