<!-- <p class="asidetitle">donate</p>
<div>
<form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK">
    <br/>
    <input name="optEmail" type="hidden" value="your Alipay" />
    <input name="payAmount" type="hidden" value="默认捐赠金额(元)" />
    <input id="title" name="title" type="hidden" value="博主，打赏你的！" />
    <input name="memo" type="hidden" value="你Y加油，继续写博客！" />
    <input name="pay" type="image" value="转账" src="http://7xig3q.com1.z0.glb.clouddn.com/alipay-donate-website.png" />
</form>
</div> -->

<!-- Donate -->
<% if(config['donate']) { %>
<div>
    <div class="donate-container" style="padding: 10px 0; margin: auto auto; width: 90%; text-align: center;">
        <div></div>
        <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
        <span>Donate</span>
        </button>
        <div id="QR" style="display: none;">
            <div id="wechat" style="display: inline-block">
                <img id="wechat_qr" src="<%= config['donate-wechat']%>" alt="WeChat Pay" style="width: 200px; height: 200px; text-align: center;">
            <!-- <p>Wechat</p> -->
            </div>
            <div id="alipay" style="display: inline-block">
                <img id="alipay_qr" src="<%= config['donate-alipay']%>" alt="Alipay" style="width: 200px; height: 200px; text-align: center;">
            <!-- <p>Alipay</p> -->
            </div>
        </div>
    </div>
</div>
<% } %>