<div class="
    col-lg-8 col-lg-offset-2
    col-md-10 col-md-offset-1
    sidebar-container">
    <% theme.widgets.forEach(function(widget){ %>
        <% if (widget === 'friends-blog' || widget === 'recent-posts'){ %>
            <%- partial('_widget/' + widget) %>
            <hr>
        <% } %>
    <% }) %>
</div>