#gitment-display-button{
    display: inline-block;
    padding: 0 15px;
    color: #0a9caf;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #0a9caf;
    border-radius: 4px;
}
#gitment-display-button:hover{
    color: #fff;
    background: #0a9caf;
}

.gitment-editor-submit {
    background-color:rgba(64, 64, 64, 1);
    :hover {
        background-color: #0085a1;
    }
}
.gitment-editor-submit:disabled {
    background-color:rgba(64, 64, 64, 0.4) !important;
}


.post-comments-count a {
    color: #fff;
    :hover {
        color: #0085a1;
    }
}