---
layout: page
---
<style type="text/css">
    header.intro-header{
        background-position: right; 
    }
</style>
<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
</div>

<!-- Duoshuo Comment -->
<% include ./_third-party/comments/duoshuo/duoshuo.ejs %>

<!-- Disqus Comment -->
<% include ./_third-party/comments/disqus/disqus.ejs %>

<!-- Git Comment -->
<% include ./_third-party/comments/gitment/gitment.ejs %>

