---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar == false) { %>
<!-- SIDEBAR Below -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container Below -->
            <%- partial('_partial/sidebarBelow') %>
        <%} else { %>

<!-- USE SIDEBAR Aside-->
    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            
                <%- page.content || body %>

                <!-- 如果开启评论功能 -->
                <% if(page.comments) { %>
                    <hr>
                    <!-- Disqus Comment -->
                    <% include ./_third-party/comments/disqus/disqus.ejs %>

                    <!-- Git Comment -->
                    <% include ./_third-party/comments/gitment/gitment.ejs %>

                    <!-- Duoshuo Comment -->
                    <% include ./_third-party/comments/duoshuo/duoshuo.ejs %>

                <% } %>
            </div>

          <%- partial('_partial/sidebar') %>

        <%} %>
    </div>
</div>
